body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #7DCE13;
}

.container-fluid {
  padding: 3% 15%;
}


}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
.h1-members {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #1C3879;
}
.primapagina {
  font-family: "Bebas Neue";
}
h3 {
  font-family: "Montserrat-Bold";
}




p {
  color: #8f8f8f;
}
/* Navigation Bar */

.navbar{
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;


}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  position: relative;
  left: 400px;

}
/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title img */
.title-image {
  width: 100%;

}

/* feature section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.staythiswaylogo {
  width: 30%;
  image-orientation: center;
margin-left: 600px;
margin-top: 30px;
}

.chisono {
  background-color: #AFB4FF;
}

.storia {

}
/* testimonial*/

#ultimicontenuti {
  padding: 7% 15%;
  text-align: center;
  background-color: #FF8FB1;
  color: #fff;
}

.fromis-new{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #FF8FB1;
  text-align: center;
  padding-bottom: 2%;
  margin-bottom: 20%;
}

.f9{

  margin-bottom: 0px;
  height:150px;
}
.pledislogo {
  width: 10%;
  margin-left:  80px;
  margin-top: 60px;
}

/* membri */

.storia{
  text-align: center;
  font-size: 20px;

}

.saerompro {
  position: relative;
height: 250px;
bottom: 300px;
}

.saerombiotext {
  position: relative;
  left: 150px;

  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  background-color: #D9F8C4;
}

.h4saerom {
  position: relative;
  left: 80px;
  bottom: 50px;
  font-size: 1.5rem;
}
/* Hayoung */
.hayoungpro {
  position: relative;
height: 250px;
bottom: 300px;
}

.hayoungbiotext {
  position: relative;
  left: 150px;

  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  background-color: #B1E1FF;
}

.h4hayoung {
  position: relative;
  left: 80px;
  bottom: 50px;
  font-size: 1.5rem;}


/* Gyuri */

.gyuripro {
  position: relative;
height: 250px;
bottom: 300px;

}
  .gyuribiotext {
    position: relative;
    left: 150px;

    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    top:30px;
    bottom: 800px;
    background-color: #FBB454;

  }
  .h4gyuri{
    position: relative;
    left: 60px;
    bottom: 50px;
    font-size: 1.5rem;

  }

  /* Jiwon */

  .jiwonpro {
    position: relative;
    height: 250px;
    bottom: 300px;
  }

  .jiwonbiotext{
    position: relative;
    left: 150px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    top: 30px;
    bottom: 800px;
    background-color: #CEE5D0;
  }

.h4jiwon{
  position: relative;
  left: 60px;
  bottom: 50px;
  font-size: 1.5rem;
}
/* Jisun */

.jisunpro {
  position: relative;
  height: 250px;
  bottom: 300px;
}

.jisunbiotext{
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 800px;
  background-color: #FCF8E8;
}

.h4jisun{
position: relative;
left: 60px;
bottom: 50px;
font-size: 1.5rem;
}

/* Seoyeon */
.seoyeonpro {
  position: relative;
  height: 250px;
  bottom: 300px;
}

.seoyeonbiotext{
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 800px;
  background-color: #FF8C8C;
}

.h4seoyeon{
position: relative;
left: 85px;
bottom: 50px;
font-size: 1.5rem;
}

/* Chaeyoung */
.chaeyoungpro {
  position: relative;
  height: 250px;
  bottom: 300px;
}

.chaeyoungbiotext{
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 800px;
  background-color: #BAABDA;
}

.h4chaeyoung{
position: relative;
left: 115px;
bottom: 50px;
font-size: 1.5rem;
}

/* Nagyung */

.nagyungpro {
  position: relative;
  height: 250px;
  bottom: 300px;
}

.nagyungbiotext{
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 800px;
  background-color: #7F5283;
}

.h4nagyung{
position: relative;
left: 90px;
bottom: 50px;
font-size: 1.5rem;
}

/* Jiheon */

.jiheonpro {
  position: relative;
  height: 250px;
  bottom: 300px;
}

.jiheonbiotext{
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 800px;
  background-color: #CFD2CF;
}

.h4jiheon{
position: relative;
left: 85px;
bottom: 50px;
font-size: 1.5rem;
}

.membri {
  position: relative;
  top: 100px;
}

/* ALBUM*/

.toheartlogo {
  position: relative;
  left: 350px;
  top: 200px;
}
.toheart {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h1toheart {
  position: relative;
left: 780px;
  bottom: -100px;
  font-size: 1.5rem;
}

.h4toheart {
  position: relative;
  left: 700px;
  top: 130px;
  font-size: 1.5rem;
}

.rilasciatotoheart {
  position: relative;

  top: 130px;
  left: 640px;

}

.canzonitoheart{
  position: relative;

  top: 100px;
  left: 650px;
  text-align: center;
}

/* To Day */
.todaylogo{
  position: relative;
  left: 370px;


}
.today {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h1today {
  position: relative;
bottom: 130px;
left: 820px;
  font-size: 1.5rem;
}

.h4today {
  position: relative;
  left: 750px;
  bottom: 100px;
  font-size: 1.5rem;
}

.rilasciatotoday {
  position: relative;

  top: 130px;
  left: 600px;

}

.canzonitoday{
  position: relative;

  top: 0px;
  left: 950px;
}

/* from.9*/
.from9logo{
  position: relative;
  left: 580px;


}
.from9 {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h1from9 {
  position: relative;
bottom: 200px;
left: 850px;
  font-size: 1.5rem;
}

.h4from9 {
  position: relative;
  left: 770px;
  bottom: 150px;
  font-size: 1.5rem;
}

.rilasciafrom9 {
  position: relative;

  top: 60px;
  right: 130px;

}

.canzonifrom9{
  position: relative;

  bottom: 20px;
  left: 970px;
}

/* fun factory */
.funfactorylogo{
  position: relative;
  right: -350px;


}
.funfactory {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h1funfactory {
  position: relative;
bottom: 150px;
left: 870px;
  font-size: 1.5rem;
}

.h4funfactory {
  position: relative;
  left: 770px;
  bottom: 70px;
  font-size: 1.5rem;
}

.rilasciafunfact {
  position: relative;

  top: 60px;
  right: 130px;

}

.canzonifunfactory{
  position: relative;

  bottom: 20px;
  left: 970px;
}

/* my little society */

.mylittlesocietylogo{
  position: relative;
  right: -450px;}

.mylittlesociety {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h1mylittlesociety {
  position: relative;
bottom: 150px;
left: 870px;
  font-size: 1.5rem;
}

.h4mylittlesociety {
  position: relative;
  left: 770px;
  bottom: 60px;
  font-size: 1.5rem;
}

.rilasciamylittesociety {
  position: relative;

  top: 60px;
  right: 130px;

}

.canzonimylittlesociety{
  position: relative;

  bottom: 20px;
  left: 970px;
}

/* 9 way ticket */

.ninewayticketlogo{
  position: relative;
  right: -900px;}


.nine9wayticket {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h19wayticket {
  position: relative;
bottom: 50px;
left: 1000px;
  font-size: 1.5rem;
}

.h49wayticket {
  position: relative;
  left: 1000px;
  bottom: 50px;
  font-size: 1.5rem;
}

.rilasciamylittesociety {
  position: relative;

  top: 60px;
  right: 130px;

}

.canzoni9wayticket{
  position: relative;

  bottom: 20px;
  left: 1020px;
}

/* talkandtalk*/
.talketalklogo{
  position: relative;
  right: -430px;
height: 400px;}


.talketalk {
  position: relative;
  left: 90px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  top: 30px;
  bottom: 600px;


}

.h1talketalk {
  position: relative;
bottom: 150px;
left: 880px;
  font-size: 1.5rem;
}

.h4talketalk {
  position: relative;
  left: 730px;
  bottom: 110px;
  font-size: 1.5rem;
}

.rilasciamylittesociety {
  position: relative;

  top: 60px;
  right: 130px;

}

.canzonitalketalk{
  position: relative;


  bottom: 20px;
  left: 1020px;
}
/* news */
.membershipjpgroup {
  width: 80%;
  position: relative;
  left: 150px;
}

.h1news{
  text-align: center;
}

.membershipjpcard{
  height: 400px;

  position: relative;
  left: 400px;
}

.cheerup {
  position: relative;
  left: 450px;
}

.cheeruptesto {
  text-align: center;
}
